@import "tailwindcss";
@import "@heroui/styles"; 

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.heading-font {
    font-family: 'Bricolage Grotesque', sans-serif !important;
}

.body-font {
    font-family: "Montserrat", sans-serif;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
