@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
@import "@heroui/styles"; 

*{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.heading-font {
    font-family: "Cinzel", serif;
}

.body-font {
    font-family: "Montserrat", sans-serif;
}
